<h1 style="text-align: center; padding: 30px"> About page Title </h1>
<h3> About page Sub-Title </h3>
<p style="padding: 20px">
    This is a short and simple description of the Twitter clone called "Y" build using Ruby on Rails
</p>